<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients</title>
</head>
<body>
<h1>Patient List</h1>
<a href="/patients/add">Add Patient</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.contact}"></td>
        <td th:text="${patient.email}"></td>
        <td>
            <a th:href="@{'/patients/delete/' + ${patient.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
